@font-face {
  font-family: 'MyFont';
  src: url('fonts/iranyekan.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}



.miow {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 30px;
    flex-wrap: wrap;
}
.images {
    height: 60%;
    width: 48%;
    box-shadow: rgba(152, 102, 209, 0.6) -7px 10px 30px, rgba(192, 26, 26, 0.6) 7px 10px 30px;
}

.images:last-child {
    width : 70% ; 
    margin : auto ;
    box-shadow: rgba(9, 110, 48, 0.8) 5px 12px 20px 0px;
}

@media (max-width: 600px) {
    .images {
        display: flex;
        flex-direction: column;
        width: 75%;
        justify-content: center;
    }
}
.beauty {
    text-align: center;
    color :rgb(112, 10, 95);
    font-size: 40px;
    width: 40%;
    border: 5px red solid;
    border-radius: 5%;
    padding: 20px;
    margin : auto ;
    background-color: rgb(160, 238, 51);
    display: flex;
    justify-content: center;
}

* {
    font-family: 'MyFont' ;
    font-weight: 800;
    direction: rtl;
    background-color: rgb(197, 238, 219);
}
.for {
    padding-top: 10px;
}
.t {
    padding-bottom: 30px;
}

.perfect {
    font-size: 24px;
}
.hello {
    text-align: right;
    font-style: italic;
}
.ch{
    font-size: 24px;
    text-align: center;
    list-style: square;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid black;
    flex-wrap : wrap ;
    display: flex;
    flex-direction: row;
    
}

li:hover {
    margin-bottom: 5px;
    border-bottom: 1px solid goldenrod ;
}
a {
    text-decoration: none;
}
a:hover{
    color : red ;
    /*text-decoration: underline goldenrod 3px ; */
}
.het {
    letter-spacing: normal;
    line-height: 50px;
    font-size: 23px;
    text-align: right;
    font-weight:bold;
    height: 100px;
    overflow-y: scroll;
}
.heto {
    font-size: 30px;
    text-align: center;
    font-weight:bolder;
    color : rgb(70, 70, 5) ;
}
.imgam{
    padding-top: 10px;
    width: 100%;
    height : 100% ;
    text-align: center;
    margin: 0 auto;
    position: static;
}
.you {
    text-align: center;
    padding: 15px;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin : auto ;
}
.mybutton {
    width: 40px;
    height: 30px;
    margin-right: 50px ;
    margin-left: 25px;
    color :rgb(23, 8, 228);
}
.mybutton:hover{
    width: 80px;
    height: 60px;
    background-color: rgb(192, 199, 94);
    border : 8px dotted rgb(196, 116, 196) ;
}
li:last-child {
    border-left : none ;
}
.Mine {
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 28px ;
    padding-bottom: 20px;
    border: 10px solid burlywood;
    color: rgb(11, 32, 78);
    text-align: center;
    background-color: darkolivegreen;
}


.j {
    list-style-position:initial;
    font-size: 20px;
    color: teal;
    text-align: right;
}

.ue{
    text-align: center;
    font-size: 30px;
    color:rgb(190, 115, 22);
    border: 3px solid palevioletred;
    padding: 10px;
    border-radius: 25px;
}
.tube {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.yes {
    font-size: 18px;
    line-height: 35px;
    list-style:circle;
    color: rgb(46, 7, 7);
}
.yo {
    color: rgb(62, 48, 182);
    font-size: 16;
}

.menu {
    display: grid;
    grid-area: mymenu;
    border: 3px blue solid;
    justify-content: center;
    padding : 5px;
}

.checking {
    overflow-y: scroll;
}

.content {
    grid-area: mycontent;
    font-size: 20px ;
    border: 3px blue solid;
    padding: 2px;
}


.footer {
    grid-area: myfooter;
    border: 3px blue solid;
    color : firebrick;
    font-size: 30px;
}

.header {
    grid-area: myheader;
    border: 3px blue solid;
}

.container {
    display: grid;
    width: 60% ;
    margin : auto ; 
    padding-top : 20px;
    text-align: center;
    grid-template-areas: 'myheader myheader myheader myheader myheader '
                         'mymenu . . . mycontent '
                         'mymenu . . .  mycontent '
                         'mymenu . . . mycontent '
                         'myfooter myfooter myfooter myfooter myfooter';
}

